{% extends "base.html" %}

{% block content %}
<h3 align="center">Департаменты</h3>
{% if current_user.is_authenticated %}
<p>
    <br>
    <a class="btn btn-secondary " href="/add_department">Добавить Департамент</a> <a class="btn btn-secondary " href="/">Назад</a>
</p>
{% endif %}
{% for item in deps%}
<h4>Департамент #{{item.id}}</h4>
{% if current_user.is_authenticated and (current_user.id == item.chief or current_user.id == 1) %}
<div>
    <a href="/departments/{{ item.id }}" class="btn btn-warning">
        Изменить
    </a>
    <a href="/delete_department/{{ item.id }}" class="btn btn-danger">
        Удалить
    </a>
</div>
{% endif %}
<table>
    <tr bgcolor="888888">
        <th width="400">Название</th>
        <th width="150">Шеф</th>
        <th width="150">ID сотрудников</th>
        <th width="180">Почта департамента</th>
    </tr>
    <tr>
        <td width="400" bgcolor="eeeefe">{{item.title}}</td>
        {% set user = db_sess.query(User).get(item.chief) %}
        <td width="150" bgcolor="eeeefe">{{user.surname}} {{user.name}}</td>
        <td bgcolor="eeeefe">{{item.members}}</td>
        <td width="100" bgcolor="eeeefe">{{item.email}}</td>
    </tr>
</table>
{% endfor %}

{% endblock %}
